/*------------------------------------General Styling*/

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

p {
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    letter-spacing: 1.5px;
    line-height: 2em;
    margin: 0 0 30px;
}

h2 {
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 30px;
    letter-spacing: 5px;
    text-shadow: 2px 1px 10px #fafaf7;
}

.cover-picture {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/*------------------------------------Colors*/

.welcome-message-bg {}

.music-cat-bg {
    background-color: #fdfff4;
}

.picture-section-bg {
    background: #fffafc;
}

.footer-bg {
    background-color: #4a4a4f;
}

/*--------------------------------------------Special margins paddings text*/

.remove-padding {
    padding: 0;
}

.uppercase {
    text-transform: uppercase;
}

.centered-block {
    display: block;
    margin: 0 auto;
}

.small-margin-top {
    margin-top: 15px;
}

.small-margin-bottom {
    margin-bottom: 15px;
}

.medium-margin-top {
    margin-top: 30px;
}

.medium-margin-bottom {
    margin-bottom: 50px;
}

.large-margin-top {
    margin-top: 50px;
}

.large-margin-bottom {
    margin-bottom: 50px;
}

.larger-margin-bottom {
    margin-bottom: 150px;
}


.section-seperator-padding {
    padding-top: 75px;
    padding-bottom: 75px;
}

.medium-padding-bottom {
    padding-bottom: 30px;
}

.medium-padding-top {
    padding-top: 30px;
}

.bottom-inner-shadow {
    -webkit-box-shadow: inset 20px 20px 20px 20px rgba(0, 0, 0, 0.67);
    -moz-box-shadow: inset 0px 0px 17px -5px rgba(0, 0, 0, 0.67);
    box-shadow: inset 0px -6px 5px -5px rgba(0, 0, 0, 0.67);
}

.hold-img-and-text {
    position: relative;
    text-align: center;
    color: white;
}

.over-pic {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.over-pic-higher {
    position: absolute;
    top: 39%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.hug-text-central {
    padding: 0 10%;
}

.link-img {
    width: 70%;
}

/*------------------------------------Navbar*/

.navbar-brand {
    width: 150px;
    height: 60px;
    background-image: url("../images/MonkeesLogo.jpg");
    background-size: contain;
}

.fas {
    font-size: 25px;
    padding: 0 15px;
    color: #ff5f5f;
}

.nav-item {
    padding: 10px 0;
}

.navbar-toggler {}

.navbar-toggle-icon {}

/*--------------------------------------------Hover.css*/

a i:hover {
    color: #e80e0e;

}

a button:hover {
    background-color: #e80e0e;
}

.grow:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

/*------------------------------------Header*/

/*------------------------------------Welcome*/

.fa-heart {
    font-size: 35px;
    color: #ff5f5f;
}

.Monkees-header {
    font-size: 40px;
    color: #fff;
    width: 100%;
    font-weight: 900;
    letter-spacing: 5px;
    text-shadow: 0px 5px 10px #ff5f5f;

}

.welcome-pic {
    height: 200px;
}

.pic1 {
    background-image: url("../images/MK1.jpg");
}

.pic2 {
    background-image: url("../images/MK4.jpg");
}

.pic3 {
    background-image: url("../images/MK2.jpg");
}

.pic4 {
    background-image: url("../images/MK3.jpg");
}

.strap-line {
    font-size: 20px;
}

/*------------------------------------Intro*/

.intro {
    font-size: 3vw;
    letter-spacing: 1.5px;
    line-height: 6vw;
}

/*------------------------------------Music Catalogue*/

.music-cat-section {
    color: #000;
}

/*------------------------------------Video Section*/

.picture-frame {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    -webkit-box-shadow: 14px 22px 22px -7px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: 14px 22px 22px -7px rgba(0, 0, 0, 0.44);
    box-shadow: 14px 22px 22px -7px rgba(0, 0, 0, 0.44);
}

/*------------------------------------Picture Gallery*/

.picture-transition {
    position: relative;
    height: 250px;
    width: 320px;
    margin: 0 auto;
}

.picture-transition img {
    position: absolute;
    left: 0;
}

.picture-transition img.top-pic {
    animation-name: picsFadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-direction: alternate;
}

.transition-pic {
    width: 100%;
    height: 250px;
    border-radius: 5%;
    border: solid 15px #000;
    -webkit-box-shadow: 0px 0px 33px -1px rgba(0, 0, 0, 0.36);
    -moz-box-shadow: 0px 0px 33px -1px rgba(0, 0, 0, 0.36);
    box-shadow: 0px 0px 33px -1px rgba(0, 0, 0, 0.36);
}

/*------------------------------------Hire Us Section*/

.hire-us-btn {
    color: #fff;
    background-color: #ff5f5f;
    width: 150px;
    height: 150px;
    border-radius: 50%
}

/*------------------------------------Footer*/

footer {
    color: #fff;
}

.fab {
    color: #fff;
    font-size: 40px;
    letter-spacing: 30px;
}

h3 {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 3px;
}

.footer-padding {
    padding: 20px 15px;
}

/*------------------------------------Listen-Now.html*/

.vinyl-record {
    width: 80%;
    height: auto;
}

.audio-controls {
    height: 70px;
    border: solid 20px #fafafa;
    margin-bottom: 50px;
}

.audio-controls:hover+.vinyl-record {
    animation-name: rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.vinyl-title {
    margin-bottom: 30px;
}


/*------------------------------------Video.html*/

.ddbeliever-video {
    width: 80%;
    height: auto;
    max-width: 900px;
    border: solid 15px #000;
    border-radius: 5%;
    -webkit-box-shadow: 0px 20px 30px -12px rgba(0, 0, 0, 0.72);
    -moz-box-shadow: 0px 20px 30px -12px rgba(0, 0, 0, 0.72);
    box-shadow: 0px 20px 30px -12px rgba(0, 0, 0, 0.72);
}

/*------------------------------------Gallery.html*/

.gallery-photo {
    width: 90%;
    max-height: 500px;
}

/*------------------------------------Animations*/

@keyframes picsFadeInOut {
    0% {
        opacity: 1;
    }
    45% {
        opacity: 1;
    }
    55% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}




/*------------------------------------Media Queries*/

@media screen and (min-width: 576px) {

    .link-img {
        width: 50%;
    }

    .welcome-pic {
        height: 250px;
    }
}

@media screen and (min-width: 768px) {
    .navbar-brand {
        width: 160px;
        height: 80px;
    }

    p {
        font-size: 16px;
        letter-spacing: 1.5px;
        line-height: 2em;
    }

    .video-section-para,
    .music-cat-para {
        text-align: left;
    }

    h2 {
        font-size: 40px;
        letter-spacing: 7px;
        padding-bottom: 15px;
    }

    .strap-line {
        font-size: 30px;
        letter-spacing: 7px;
        padding-bottom: 0px;
    }

    .link-img {
        width: 90%;
        max-width: 375px;
    }

    .fas {
        font-size: 30px;
    }

    .fa-heart {
        font-size: 50px;
    }

    .Monkees-header {
        font-size: 60px;
    }

    .welcome-pic {
        height: 300px;
    }

    .over-pic {
        top: 100%;
    }

    .over-pic-higher {
        top: 80%;
    }

    .hug-text-central {
        padding: 0 40px;
    }

    .padding-fix-left {
        padding: 0 40px 0 0!important;
    }

    .padding-fix-right {
        padding: 0 0 0 40px!important;
    }

}

@media screen and (min-width: 992px) {
    .navbar-brand {
        width: 200px;
        height: 100px;
    }

    p {
        font-size: 20px;
        line-height: 3em;
    }

    h2 {
        font-size: 45px;
        padding-bottom: 20px;
        letter-spacing: 20px;
    }

    .strap-line {
        font-size: 50px;
    }

    .link-img {
        width: 80%;
        max-width: 400px;
    }

    .fas {
        font-size: 35px;
    }

    .fa-heart {
        font-size: 60px;
    }

    .Monkees-header {
        font-size: 70px;
    }

    .welcome-pic {
        height: 320px;
    }

    .picture-transition {
        width: 400px;
    }


    .over-pic-higher {
        top: 77%;
    }

    .hire-us-btn {
        font-size: 30px;
        width: 250px;
        height: 250px;
    }

    h3 {
        font-size: 30px;
    }

    .footer-para {
        font-size: 15px;
    }
}

@media screen and (min-width: 1200px) {
    p {
        font-size: 20px;
        letter-spacing: 1.8px;
        line-height: 2.1em;
    }

    h2 {
        font-size: 45px;
        letter-spacing: 25px;
    }

    .strap-line {
        font-size: 45px;
        letter-spacing: 8px;
    }

    .link-img {
        width: 70%;
    }

    .fas {
        font-size: 40px;
    }

    .fa-heart {
        font-size: 80px;
    }

    .Monkees-header {
        font-size: 120px;
    }

    .welcome-pic {
        height: 500px;
    }

    .over-pic {
        top: 100%;
    }

    .over-pic-higher {
        top: 80%;
    }

    .picture-transition {
        height: 350px;
        width: 500px;
        margin: 0 auto;
    }

    .transition-pic {
        height: 350px;
    }

    .ddbeliever-video {
        border: solid 25px #000;
    }

}
