/*------------------------------------General Styling*/

html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

p {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1.5px;
    line-height: 2em;
    margin: 0;
    padding: 0;
    color: #000;
    font-weight: 500;
}

h2 {
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 5px;
    text-shadow: 2px 1px 10px #fafaf7;
}

.cover-picture {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hide-overflow {
    overflow-x: hidden;
}

.smooth-transition {
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.modal-hire-us-btn,
.sign-up-modal-btn,
.hire-us-btn {
    color: #fff;
    background-color: #ff5f5f;
    width: 100%;
    max-width: 700px;
}

.bottom-inner-shadow {
    -webkit-box-shadow: inset 20px 20px 20px 20px rgba(0, 0, 0, 0.67);
    -moz-box-shadow: inset 0px 0px 17px -5px rgba(0, 0, 0, 0.67);
    box-shadow: inset 0px -6px 5px -5px rgba(0, 0, 0, 0.67);
}

.hold-img-and-text {
    position: relative;
    text-align: center;
    color: white;
}

.wiggle {
    -webkit-animation-name: wiggle;
    -ms-animation-name: wiggle;
    -ms-animation-duration: 2000ms;
    -webkit-animation-duration: 2000ms;
    -webkit-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -ms-animation-timing-function: ease-in-out;
}

.shake {
    -webkit-animation-name: shake;
    -ms-animation-name: shake;
    -ms-animation-duration: 2000ms;
    -webkit-animation-duration: 2000ms;
    -webkit-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -ms-animation-timing-function: ease-in-out;
}

.beat {
    -webkit-animation-name: beat;
    -ms-animation-name: beat;
    -ms-animation-duration: 2000ms;
    -webkit-animation-duration: 2000ms;
    -webkit-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -ms-animation-timing-function: ease-in-out;
}

/*------------------------------------Colors*/

.music-cat-bg {
    background-color: #eaf0f7;
}

.picture-section-bg {
    background: #fffafc;
}

.footer-bg {
    background-color: #4a4a4f;
}

.sign-up-section-bg {
    background-color: #000;
}

/*--------------------------------------------Special margins paddings text*/

.remove-padding {
    padding: 0;
}

.uppercase {
    text-transform: uppercase;
}

.centered-block {
    display: block;
    margin: 0 auto;
}

.photos-margin-bottom {
    margin-bottom: 75px;
}

.section-seperator-padding {
    padding-top: 30px;
    padding-bottom: 10px;
}

.hug-text-central {
    padding: 0 10%;
}

.link-img {
    width: 70%;
    max-width: 400px;
    margin: 20px auto;
}


.content-section {
    min-height: 325px;
    padding: 60px 0;
}

.content-section:nth-of-type(1) {
    padding: 30px 0;
}

.max-width-holder {
    max-width: 1200px;
}

.section-title {
    padding: 30px 0;
}

.section-para {
    padding: 30px 0;
    font-size: 10px;
}

.section-para:nth-of-type(2) {
    padding: 0 0 30px;
}

/*------------------------------------(PAGE 1) Sign-up*/

.sign-up-section {
    height: 32px;
    position: relative;
    z-index: 50;
    color: #fff;
    font-size: 10px;
}

.sign-up-para {
    margin-top: 11px;
    white-space: nowrap;
}

.sign-up-btn {
    margin: 6px 0 0 0;
    background-color: #fff;
    color: #000;
    font-size: 8px;
    border-radius: 50px;
    width: 55px;
    padding: 4px 0 2px;
}

/*------------------------------------Navbar*/

header {
    min-height: 80px;
    z-index: 1000;
    position: sticky;
    top: 0;
    background-color: #fff;
}

#nav-bar-on-top {
    z-index: 100;
    background-color: #fff;
}

.navbar-brand {
    width: 150px;
    height: 60px;
    background-image: url("../images/MonkeesLogo.jpg");
    background-size: contain;
}

.fas {
    font-size: 25px;
    padding: 0 15px;
    color: #ff5f5f;
}

.nav-item {
    padding: 0;
}

.li-text-grow {
    display: inline-block;
    margin-left: 10px;
}

.navbar-toggler {
    transition: ease-in background-color .5s;
}

.navbar-toggler:hover {
    border: 1px solid #ffadad;
    border-radius: 10%;
    background-color: #ffadad;
}

.navbar-toggler:focus {
    outline: none;
}

.nav-link {
    border-bottom: 1px solid rgba(145, 145, 145, 0.67);
    padding: 17px 0;
}

/*------------------------------------Welcome*/

.fa-heart {
    font-size: 35px;
    color: #ff5f5f;
    text-shadow: 0px 2px 5px #ff5f5f;
    margin: 0;
    padding: 0 0 10px 4px;
}

.Monkees-header {
    width: 100%;
    font-size: 40px;
    color: #fff;
    max-width: 500px;
    font-weight: 900;
    letter-spacing: 5px;
    text-shadow: 0px 5px 10px #ff5f5f;

}

.welcome-pic {
    height: 200px;
}

.welcome-paragraph {
    padding: 30px 0 0;
    color: #8a7a7a;
}

.welcome-paragraph:nth-of-type(3) {
    padding: 30px 0 50px;
}

.pic1 {
    position: relative;
    background-image: url("../images/MK1.jpg");
    z-index: 5;
}

.pic2 {
    position: relative;
    background-image: url("../images/MK4.jpg");
    z-index: 4;
}

.pic3 {
    position: relative;
    background-image: url("../images/MK2.jpg");
    z-index: 3;
}

.pic4 {
    position: relative;
    background-image: url("../images/MK3.jpg");
    z-index: 2;
}

.strap-line {
    font-size: 20px;
    color: #000;
    padding: 30px 0 0;
}

.slide-in {
    animation-delay: 0s;
    animation-direction: normal;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

.slide-in-first {
    animation-name: slideInFromLeft1st;
}

.slide-in-second {
    animation-name: slideInFromRight1st;
}

.slide-in-third {
    animation-name: slideInFromLeft2nd;
}

.slide-in-fourth {
    animation-name: slideInFromRight2nd;
}

.over-pic {
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.over-pic-higher {
    z-index: 10;
}

/*------------------------------------Music Catalogue*/

.rounded-circle {
    -webkit-box-shadow: 14px 10px 26px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 14px 10px 26px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 14px 10px 26px -4px rgba(0, 0, 0, 0.75);
}

/*------------------------------------Video Section*/

.picture-frame {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    -webkit-box-shadow: 14px 22px 22px -7px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: 14px 22px 22px -7px rgba(0, 0, 0, 0.44);
    box-shadow: 14px 22px 22px -7px rgba(0, 0, 0, 0.44);
}

/*------------------------------------Picture Gallery*/

.picture-transition {
    max-width: 400px;
    position: relative;
    min-height: 220px;
    width: 80%;
    margin: 0 auto;
}

.picture-transition img {
    position: absolute;
    left: 0;
}

.picture-transition img.top-pic {
    animation-name: picsFadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-direction: alternate;
}

.transition-pic {
    width: 100%;
    height: 220px;
    border-radius: 5%;
    border: solid 15px #000;
    -webkit-box-shadow: 0px 0px 33px -1px rgba(0, 0, 0, 0.36);
    -moz-box-shadow: 0px 0px 33px -1px rgba(0, 0, 0, 0.36);
    box-shadow: 0px 0px 33px -1px rgba(0, 0, 0, 0.36);
}

/*------------------------------------Hire Us Section*/

/*------------------------------------Footer*/

footer {
    color: #fff;
}

.fab {
    color: #fff;
    font-size: 25px;
    letter-spacing: 30px;
}

h3 {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 3px;
}

.footer-padding {
    padding: 20px 15px;
}

.footer-para {
    margin: 0 0 20px;
    color: #fff;
}

/*------------------------------------(PAGE 2) Listen-Now.html*/

.vinyl-record {
    width: 80%;
    height: auto;
}

.audio-controls {
    width: 80%;
    height: 70px;
    margin-bottom: 50px;
}

.audio-controls:hover+.vinyl-record {
    animation-name: rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.vinyl-title {
    margin-bottom: 30px;
}


/*------------------------------------(PAGE 3) Video.html*/

.ddbeliever-video {
    width: 90%;
    height: auto;
    max-width: 1200px;
    border: solid 15px #000;
    border-radius: 5%;
    -webkit-box-shadow: 0px 20px 30px -12px rgba(0, 0, 0, 0.72);
    -moz-box-shadow: 0px 20px 30px -12px rgba(0, 0, 0, 0.72);
    box-shadow: 0px 20px 30px -12px rgba(0, 0, 0, 0.72);
}

/*------------------------------------(PAGE 4) Gallery.html*/

.gallery-photo {
    width: 90%;
    max-height: 500px;
}

/*------------------------------------Modal*/

.modal-label {
    width: 20%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 20px;
}

.modal-box {
    width: 100%;
    margin: 10px 0;
}

.modal-box-details {
    height: 200px;
}

.modal-title {
    font-size: 24px;
    margin-top: 10px;
    font-weight: 900;
}

.date-box {}

/*--------------------------------------------Hover.css*/

.fa-facebook:hover {
    color: #3b5998;
}

.fa-twitter:hover {
    color: #1da1f2;
}

.fa-youtube:hover {
    color: #ff0000;
}

a button:hover {
    background-color: #e80e0e;
}

.grow:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.li-text-grow:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

/*------------------------------------Animations*/

@keyframes picsFadeInOut {
    0% {
        opacity: 1;
    }
    45% {
        opacity: 1;
    }
    55% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes slideInFromLeft1st {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    50% {
        transform: translateX(0%);
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideInFromRight1st {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    50% {
        transform: translateX(0%);
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideInFromLeft2nd {
    0% {
        transform: translateX(-200%);
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes slideInFromRight2nd {
    0% {
        transform: translateX(200%);
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes slideInFromTop1st {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    35% {
        transform: translateY(0%);
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideInFromTop2nd {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    50% {
        transform: translateY(0%);
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideInFromTop3rd {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    75% {
        transform: translateY(0%);
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideInFromTop4th {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    90% {
        transform: translateY(0%);
    }

    100% {
        opacity: 1;
    }
}

@keyframes wiggle {
    0% {
        transform: rotate(10deg);
    }
    25% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(20deg);
    }
    75% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(10deg);
    }
}

@keyframes shake {
    0% {
        transform: rotate(.5deg);
    }
    10% {
        transform: rotate(-.5deg);
    }
    20% {
        transform: rotate(.5deg);
    }
    30% {
        transform: rotate(-.5deg);
    }
    40% {
        transform: rotate(.5deg);
    }
    50% {
        transform: rotate(0deg);
    }
}

@keyframes beat {
    0% {
        -webkit-transform: scale(1.0);
        -ms-transform: scale(1.0);
        transform: scale(1.0);
    }

    20% {
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
    }

    30% {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }

    40% {
        -webkit-transform: scale(1.4);
        -ms-transform: scale(1.4);
        transform: scale(1.4);
    }

    60% {
        -webkit-transform: scale(1.0);
        -ms-transform: scale(1.0);
        transform: scale(1.0);
    }
}

/*------------------------------------Media Queries*/

@media screen and (min-width: 768px) {
    .navbar-brand {
        width: 160px;
        height: 80px;
    }

    header {
        min-height: 100px;
    }

    .nav-link {
        border-bottom: none;
    }

    .nav-link .fas {
        font-size: 26px;
    }

    .nav-item {
        padding: 0 0 0 10px;
    }

    p {
        font-size: 14px;
        letter-spacing: 1.5px;
        line-height: 2em;
        margin: 0;
        padding: 0;
    }

    .section-seperator-padding {
        padding-top: 50px;
        padding-bottom: 30px;
    }

    .music-cat-para:nth-of-type(1) {
        padding-top: 0;
    }

    .section-para {
        font-size: 12px;
    }

    .video-section-para,
    .music-cat-para {
        text-align: left;
    }

    h2 {
        font-size: 40px;
        letter-spacing: 7px;
    }

    .strap-line {
        font-size: 30px;
        letter-spacing: 7px;
    }

    .no-margin-top {
        margin-top: 0!important;
    }

    .link-img {
        width: 80%;
        max-width: 375px;
    }

    .rounded-circle {
        width: 72%;
    }

    .picture-transition {
        height: 452px;
        max-width: 700px;
    }

    .transition-pic {
        height: 420px;
    }

    .fas {
        font-size: 30px;
    }

    li .fas {
        padding: 0 10px 0 0;
    }

    .fa-heart {
        font-size: 30px;
    }

    .Monkees-header {
        font-size: 60px;
    }

    .welcome-pic {
        height: 300px;
    }

    .welcome-paragraph:nth-of-type(1) {
        padding: 90px 0 0;
    }

    .over-pic {
        top: 87%;
    }

    .over-pic-higher {
        top: 80%;
    }

    .hug-text-central {
        padding: 0 40px;
    }

    .padding-fix-left {
        padding: 0 40px 0 0!important;
    }

    .padding-fix-right {
        padding: 0 0 0 40px!important;
    }

    .modal-dialog {
        max-width: 620px;
    }

    .modal-box {
        font-size: 24px;
    }

    .modal-paragraph {
        font-size: 20px;
        letter-spacing: 1.4px;
        line-height: 1.5em;
    }

    .slide-in {
        animation-duration: 2s;
    }

    .slide-in-first {
        animation-name: slideInFromTop1st;
    }

    .slide-in-second {
        animation-name: slideInFromTop2nd;
    }

    .slide-in-third {
        animation-name: slideInFromTop3rd;
    }

    .slide-in-fourth {
        animation-name: slideInFromTop4th;
    }

    .sign-up-section {
        height: 36px;
        font-size: 12px;
    }

    .sign-up-btn {
        font-size: 10px;
        width: 60px;
    }

    .modal-hire-us-btn,
    .hire-us-btn,
    .sign-up-modal-btn {
        font-size: 22px;
    }

    .hire-section-para {
        text-align: left;
    }
}

@media screen and (min-width: 992px) {

    .section-para {
        font-size: 14px;
    }

    .vinyl-record {
        width: 60%;
    }

    .ddbeliever-video {
        width: 62%;
    }
}

@media screen and (min-width: 1200px) {
    .navbar {
        margin: 0 auto;
    }

    .navbar-brand {
        width: 140px;
        height: 80px;
    }

    header {
        min-height: 100px;
    }

    p {
        font-size: 16px;
        letter-spacing: 2px;
        line-height: 2.2em;
    }

    .max-width-holder {
        margin: 0 auto;
    }

    .section-seperator-padding {
        padding-top: 60px;
        padding-bottom: 40px;
    }

    .Monkees-header {
        font-size: 100px;
        letter-spacing: 8px;
        max-width: 1190px;
    }

    .welcome-pic {
        height: 360px;
    }

    h2 {
        font-size: 48px;
        letter-spacing: 10px;
    }

    .strap-line {
        font-size: 40px;
        letter-spacing: 8px;
        padding: 58px 0 0;
    }

    .content-section .fas {
        padding: 40px 0 0;
    }

    .link-img {
        width: 85%;
        max-width: 300px;
    }

    .music-cat-bg {
        min-height: 700px;
    }

    .picture-transition {
        height: 450px;
        max-width: 666px;
    }

    .transition-pic {
        height: 440px;
    }

    .fas {
        font-size: 40px;
    }

    li .fas {
        padding: 0 15px 0 0;
    }

    .fa-heart {
        font-size: 60px;
    }

    .over-pic {
        top: 82%;
    }

    .over-pic-higher {
        top: 78%;
    }

    .padding-fix-left {
        padding: 0 70px 0 0!important;
    }

    .padding-fix-right {
        padding: 0 0 0 70px!important;
    }

    .photos-grid {
        margin: 0 120px;
    }

    .modal-dialog {
        max-width: 700px;
    }

    .sign-up-section {
        height: 46px;
        font-size: 16px;
    }

    .sign-up-btn {
        font-size: 16px;
        width: 100px;
    }

    .sign-up-modal-btn {
        font-size: 26px;
    }

    .fab {
        font-size: 40px;
    }

    .photos-margin-bottom {
        margin-bottom: 125px;
    }
}

@media screen and (min-width: 1500px) {
    .welcome-pic {
        height: 580px;
    }
}
