/*------------------------------------General Styling*/

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

p {
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    letter-spacing: 1.5px;
    line-height: 2em;
    margin: 30px 0 30px;
}

h2 {
    font-size: 25px;
    font-weight: 800;
    letter-spacing: 5px;
    text-shadow: 2px 1px 10px #fafaf7;
}

.cover-picture {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/*------------------------------------Colors*/

.music-cat-bg {
    background-color: #eaf0f7;
}

.picture-section-bg {
    background: #fffafc;
}

.footer-bg {
    background-color: #4a4a4f;
}

.sign-up-section-bg {
    background-color: #000;
}

/*--------------------------------------------Special margins paddings text*/

.remove-padding {
    padding: 0;
}

.uppercase {
    text-transform: uppercase;
}

.centered-block {
    display: block;
    margin: 0 auto;
}

.small-margin-bottom {
    margin-bottom: 15px;
}

.medium-margin-top {
    margin-top: 30px;
}

.medium-margin-bottom {
    margin-bottom: 50px;
}

.large-margin-top {
    margin-top: 50px;
}

.xl-margin-top {
    margin-top: 150px;
}

.large-margin-bottom {
    margin-bottom: 50px;
}

.larger-margin-bottom {
    margin-bottom: 150px;
}


.section-seperator-padding {
    padding-top: 75px;
    padding-bottom: 75px;
}

.medium-padding-bottom {
    padding-bottom: 30px;
}

.medium-padding-top {
    padding-top: 30px;
}

.top-and-bottom-padding {
    padding: 50px 0;
}

.bottom-inner-shadow {
    -webkit-box-shadow: inset 20px 20px 20px 20px rgba(0, 0, 0, 0.67);
    -moz-box-shadow: inset 0px 0px 17px -5px rgba(0, 0, 0, 0.67);
    box-shadow: inset 0px -6px 5px -5px rgba(0, 0, 0, 0.67);
}

.hold-img-and-text {
    position: relative;
    text-align: center;
    color: white;
}

.hug-text-central {
    padding: 0 10%;
}

.link-img {
    width: 70%;
}

/*------------------------------------Sign-up*/

.sign-up-section {
    height: 32px;
    text-align: ;
    position: relative;
    z-index: 50;
    color: #fff;
    font-size: 10px;
}

.sign-up-para {
    margin-top: 10px;
    white-space: nowrap;
}

.sign-up-btn {
    margin: 8px 0 0 0;
    background-color: #fff;
    color: #000;
    font-size: 8px;
    border-radius: 50px;
    width: 55px;
    padding: 2px 0;
}

.modal-sign-up-btn {
    background-color: #000;
    color: #fff;
    border-radius: 50px;
}

/*------------------------------------Navbar*/

#nav-bar-on-top {
    z-index: 100;
    background-color: #fff;
}

.navbar-brand {
    width: 150px;
    height: 60px;
    background-image: url("../images/MonkeesLogo.jpg");
    background-size: contain;
}

.fas {
    font-size: 25px;
    padding: 0 15px;
    color: #ff5f5f;
}

.nav-item {
    padding: 10px 0;
}

/*------------------------------------Welcome*/

.fa-heart {
    font-size: 35px;
    color: #ff5f5f;
}

.Monkees-header {
    font-size: 40px;
    color: #fff;
    width: 100%;
    font-weight: 900;
    letter-spacing: 5px;
    text-shadow: 0px 5px 10px #ff5f5f;

}

.welcome-pic {
    height: 200px;
}

.pic1 {
    position: relative;
    background-image: url("../images/MK1.jpg");
    z-index: 5;
}

.pic2 {
    position: relative;
    background-image: url("../images/MK4.jpg");
    z-index: 4;
}

.pic3 {
    position: relative;
    background-image: url("../images/MK2.jpg");
    z-index: 3;
}

.pic4 {
    position: relative;
    background-image: url("../images/MK3.jpg");
    z-index: 2;
}

.strap-line {
    font-size: 20px;
}

.slide-in {
    animation-delay: 0s;
    animation-direction: normal;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

.slide-in-first {
    animation-name: slideInFromRight1st;
}

.slide-in-second {
    animation-name: slideInFromLeft1st;
}

.slide-in-third {
    animation-name: slideInFromLeft2nd;
}

.slide-in-fourth {
    animation-name: slideInFromRight2nd;
}

.over-pic {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.over-pic-higher {
    position: absolute;
    top: 39%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

/*------------------------------------Music Catalogue*/

/*------------------------------------Video Section*/

.picture-frame {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    -webkit-box-shadow: 14px 22px 22px -7px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: 14px 22px 22px -7px rgba(0, 0, 0, 0.44);
    box-shadow: 14px 22px 22px -7px rgba(0, 0, 0, 0.44);
}

/*------------------------------------Picture Gallery*/

.picture-transition {
    position: relative;
    height: 250px;
    width: 320px;
    margin: 0 auto;
}

.picture-transition img {
    position: absolute;
    left: 0;
}

.picture-transition img.top-pic {
    animation-name: picsFadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-direction: alternate;
}

.transition-pic {
    width: 100%;
    height: 250px;
    border-radius: 5%;
    border: solid 15px #000;
    -webkit-box-shadow: 0px 0px 33px -1px rgba(0, 0, 0, 0.36);
    -moz-box-shadow: 0px 0px 33px -1px rgba(0, 0, 0, 0.36);
    box-shadow: 0px 0px 33px -1px rgba(0, 0, 0, 0.36);
}

/*------------------------------------Hire Us Section*/

.hire-us-btn {
    color: #fff;
    background-color: #ff5f5f;
    width: 150px;
    height: 150px;
    border-radius: 50%
}

.modal-hire-us-btn {
    color: #fff;
    background-color: #ff5f5f;
    width: 250px;
    height: 35px;
    border-radius: 3%
}

/*------------------------------------Footer*/

footer {
    color: #fff;
}

.fab {
    color: #fff;
    font-size: 40px;
    letter-spacing: 30px;
}

h3 {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 3px;
}

.footer-padding {
    padding: 20px 15px;
}

/*------------------------------------Listen-Now.html*/

.vinyl-record {
    width: 80%;
    height: auto;
}

.audio-controls {
    width: 80%;
    height: 70px;
    border: solid 20px #fafafa;
    margin-bottom: 50px;
}

.audio-controls:hover+.vinyl-record {
    animation-name: rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.vinyl-title {
    margin-bottom: 30px;
}


/*------------------------------------Video.html*/

.ddbeliever-video {
    width: 90%;
    height: auto;
    max-width: 1200px;
    border: solid 15px #000;
    border-radius: 5%;
    -webkit-box-shadow: 0px 20px 30px -12px rgba(0, 0, 0, 0.72);
    -moz-box-shadow: 0px 20px 30px -12px rgba(0, 0, 0, 0.72);
    box-shadow: 0px 20px 30px -12px rgba(0, 0, 0, 0.72);
}

/*------------------------------------Gallery.html*/

.gallery-photo {
    width: 90%;
    max-height: 500px;
}

/*------------------------------------Modal*/

.modal-label {
    width: 20%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 20px;
}

.modal-box {
    width: 70%;
    margin-bottom: 20px;
}

.modal-box-details {
    height: 200px;
}

/*--------------------------------------------Hover.css*/

a i:hover {
    color: #e80e0e;

}

a button:hover {
    background-color: #e80e0e;
}

.grow:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

/*------------------------------------Animations*/

@keyframes picsFadeInOut {
    0% {
        opacity: 1;
    }
    45% {
        opacity: 1;
    }
    55% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes slideInFromLeft1st {
    0% {
        transform: translateX(100%);
    }

    50% {
        transform: translateX(0%);
    }
}

@keyframes slideInFromRight1st {
    0% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(0%);
    }
}

@keyframes slideInFromLeft2nd {
    0% {
        transform: translateX(-200%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes slideInFromRight2nd {
    0% {
        transform: translateX(200%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes slideInFromTop1st {
    0% {
        transform: translateY(-100%);
    }

    35% {
        transform: translateY(0%);
    }
}

@keyframes slideInFromTop2nd {
    0% {
        transform: translateY(-100%);
    }

    50% {
        transform: translateY(0%);
    }
}

@keyframes slideInFromTop3rd {
    0% {
        transform: translateY(-100%);
    }

    75% {
        transform: translateY(0%);
    }
}

@keyframes slideInFromTop4th {
    0% {
        transform: translateY(-100%);
    }

    90% {
        transform: translateY(0%);
    }
}

/*------------------------------------Media Queries*/

@media screen and (min-width: 576px) {

    .link-img {
        width: 50%;
    }

    .welcome-pic {
        height: 250px;
    }
}

@media screen and (min-width: 768px) {
    .navbar-brand {
        width: 160px;
        height: 80px;
    }

    p {
        font-size: 16px;
        letter-spacing: 1.5px;
        line-height: 2em;
    }

    .video-section-para,
    .music-cat-para {
        text-align: left;
    }

    h2 {
        font-size: 40px;
        letter-spacing: 7px;
    }

    .strap-line {
        font-size: 30px;
        letter-spacing: 7px;
    }

    .link-img {
        width: 90%;
        max-width: 375px;
    }

    .fas {
        font-size: 30px;
    }

    .fa-heart {
        font-size: 50px;
    }

    .Monkees-header {
        font-size: 60px;
    }

    .welcome-pic {
        height: 300px;
    }

    .over-pic {
        top: 100%;
    }

    .over-pic-higher {
        top: 80%;
    }

    .hug-text-central {
        padding: 0 40px;
    }

    .padding-fix-left {
        padding: 0 40px 0 0!important;
    }

    .padding-fix-right {
        padding: 0 0 0 40px!important;
    }

    .modal-paragraph {
        font-size: 20px;
        letter-spacing: 1.4px;
        line-height: 1.5em;
    }
    
    .slide-in {
    animation-duration: 2s;
    }

    .slide-in-first {
        animation-name: slideInFromTop1st;
    }

    .slide-in-second {
        animation-name: slideInFromTop2nd;
    }

    .slide-in-third {
        animation-name: slideInFromTop3rd;
    }

    .slide-in-fourth {
        animation-name: slideInFromTop4th;
    }
}

@media screen and (min-width: 992px) {

    .navbar-brand {
        width: 200px;
        height: 100px;
    }

    p {
        font-size: 18px;
        line-height: 2.5em;
    }

    .sign-up-section {
        height: 60px;
        text-align: ;
        position: relative;
        z-index: 50;
        color: #fff;
        font-size: 16px;
    }

    .sign-up-para {
        margin-top: 20px;
        white-space: nowrap;
    }

    .sign-up-btn {
        margin: 12px 0 0 0;
        background-color: #fff;
        color: #000;
        font-size: 16px;
        border-radius: 50px;
        width: 100px;
        padding: 5px 0;
    }

    h2 {
        font-size: 45px;
        letter-spacing: 20px;
    }

    .strap-line {
        font-size: 50px;
    }

    .link-img {
        width: 80%;
        max-width: 400px;
    }

    .fas {
        font-size: 35px;
    }

    .fa-heart {
        font-size: 60px;
    }

    .Monkees-header {
        font-size: 70px;
    }

    .welcome-pic {
        height: 350px;
    }

    .picture-transition {
        width: 400px;
    }


    .over-pic-higher {
        top: 77%;
    }

    .hire-us-btn {
        font-size: 30px;
        width: 250px;
        height: 250px;
    }

    h3 {
        font-size: 30px;
    }

    .footer-para {
        font-size: 15px;
    }

}

@media screen and (min-width: 1200px) {
    .collapse .navbar-nav .nav-item .nav-link {
        font-size: 26px;
        padding: 0 20px;
    }

    .navbar-brand {
        width: 220px;
        height: 110px;
    }

    p {
        font-size: 22px;
        letter-spacing: 1.8px;
        line-height: 2.1em;
    }

    h2 {
        font-size: 45px;
        letter-spacing: 25px;
    }

    .strap-line {
        font-size: 45px;
        letter-spacing: 16px;
    }

    .link-img {
        max-width: 550px;
    }

    .fas {
        font-size: 40px;
    }

    .fa-heart {
        font-size: 80px;
    }

    .Monkees-header {
        font-size: 150px;
    }

    .welcome-pic {
        height: 460px;
    }

    .over-pic {
        top: 100%;
    }

    .over-pic-higher {
        top: 80%;
    }

    .picture-transition {
        height: 550px;
        width: 700px;
        margin: 0 auto;
    }

    .transition-pic {
        height: 550px;
    }

    .ddbeliever-video {
        border: solid 25px #000;
    }

    .footer-para {
        font-size: 18px;
    }

    .fab {
        font-size: 55px;
        letter-spacing: 70px;
    }

    .padding-fix-left {
        padding: 0 10% 0 0!important;
    }

    .padding-fix-right {
        padding: 0 0 0 10%!important;
    }

    .hug-text-central {
        padding: 75px 40px;
    }

    .hire-us-btn {
        width: 300px;
        height: 300px;
    }

    .modal-dialog {
        max-width: 1000px;
        font-size: 18px;
    }
}

@media screen and (min-width: 1500px) {
    .welcome-pic {
        height: 550px;
    }

    h3 {
        font-size: 45px;
    }

    .container {
        max-width: 1400px;
    }

    .photos-grid {
        padding: 0 10%;
    }

    .container-with-gutter {
        padding: 0 5%;
    }
}
